{% extends "Base.html" %}

<div class="container">
	{% include 'Navbar.html' %}
</div>

{% block content %}

	{% block main %}
	<div class="text-center landing">
		<h1><span class="logo-colour">First Impression</span> Matters!</h1>
		<p>In life, you only have 60 seconds to make an Impression, this can empower you or break you. How do we ensure that you use your 1 minute to say something very Creative?  Present yourself in the most impressive way possible.</p>
		{% if current_user.is_authenticated %}
			<button class="btn btn-lg btn-blue ms-3" data-toggle="modal" data-target="#staticBackdrop"><i class="fal fa-plus-square"></i> Add A Pitch</button>
		{% else %}
			<a href="{{ url_for('login') }}">
				<button class="btn btn-lg btn-blue ms-3"><i class="fal fa-pen"></i> Get Started</button>
			</a>
		{% endif %}
	</div>

	<br>
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-4">
				<div class="card shadow-sm">
					<div class="card-body">
						<h5 class="card-title">Creativity Pitches</h5>
						<p class="card-text ct">Successful creativity on projects are based on thesis, extensive exploration and examination, extensive research and coming up with ideas to solve problems.</p>
						<a href="{{ url_for('creative') }}" class="btn btn-black">View All</a>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="card shadow-sm">
					<div class="card-body">
						<h5 class="card-title">Business Pitches</h5>
						<p class="card-text ct">A business pitch is a strategic business plan aimed at sucuring finance from financiers and well wishers to enhance investment and productivity in an enterprise sector.</p>
						<a href="{{ url_for('business') }}" class="btn btn-black">View All</a>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="card shadow-sm">
					<div class="card-body">
						<h5 class="card-title">Interview Pitches</h5>
						<p class="card-text ct">A brief, 30-60 seconds speech that catches the attention and makes the interviewer  interested to hire or employ you in an organization.</p>
						<a href="{{ url_for('interview') }}" class="btn btn-black">View All</a>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="card shadow-sm">
					<div class="card-body">
						<h5 class="card-title">Sales Pitches</h5>
						<p class="card-text ct">A sales pitch is a precise, comprehensive presentation aimed at inceasing the market niche and boosting increment in sales of products.</p>
						<a href="{{ url_for('sales') }}" class="btn btn-black">View All</a>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="card shadow-sm">
					<div class="card-body">
						<h5 class="card-title">Product Pitches</h5>
						<p class="card-text ct">If you are promoting a product, the aim is to promote awareness and brand to convince the buyers to purchase that product to increase buyer's purchaing power.</p>
						<a href="{{ url_for('product') }}" class="btn btn-black">View All</a>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="card shadow-sm">
					<div class="card-body bg-blue">
						<h5 class="card-title text-light">All Pitches</h5>
						<p class="card-text ct text-light">All the best pitches by our large community on Pitch App.</p>
						<a href="{{ url_for('pitches') }}" class="btn btn-outline-light">View All Pitches</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	